<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:text="${title}"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1 th:text="${title}"></h1>

        <ul>
            <li th:text="${user.name}"></li>
            <li th:text="${user.lastname}"></li>
        </ul>
    </body>
</html>